<%= form_for @question, html: {class: 'form-horizontal'} do |f| %>
	<div class="form-group">
		<%= f.label :question , class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :question, class: 'form-control', placeholder: 'Enter Question Statement' %>
		</div>
	</div><br>

	<div class="form-group">
		<%= f.label :optiona , class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :optiona, class: 'form-control', placeholder: 'Enter First Option' %>
		</div>
	</div><br>
	<div class="form-group">
		<%= f.label :optionb , class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :optionb, class: 'form-control', placeholder: 'Enter Second Option ' %>
		</div>
	</div><br>
	<div class="form-group">
		<%= f.label :optionc , class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :optionc, class: 'form-control', placeholder: 'Enter Third Option' %>
		</div>
	</div><br>
	<div class="form-group">
		<%= f.label :optiond , class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :optiond, class: 'form-control', placeholder: 'Enter Fourth Option' %>
		</div>
	</div><br>
	<div class="form-group">
		<%= f.label :answer , class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :answer, class: 'form-control', placeholder: "Enter correct option 'a','b','c' or 'd'" %>
		</div>
	</div><br>
	<div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit "Save", class: 'btn btn-primary' %>
		</div>
	</div>

<% end %>

