<center><h5><%= link_to "Add more Questions", new_question_path %></h5></center><hr>
<div class="container">
	<% @question_no = 1 %>
	<% @questions.each do |question| %>
	<h4>
		<b><%= @question_no %>)</b>
		<b><%= question.question %></b>
	</h4>

	a.<%= question.optiona %><br>
	b.<%= question.optionb %><br>
	c.<%= question.optionc %><br>
	d.<%= question.optiond %><br>
	Correct Answer <b>option:<%= question.answer %></b><br>

	<%= link_to "Edit", edit_question_path(question.id) %>|
	<%= link_to "Delete", question, data: {confirm: "Are you sure to delete Question: " + question.question + ""} ,:method => :delete%><hr>
	<% @question_no+= 1 %>
<% end %>
</div>
