<div class = "container">
	<% if user_signed_in? %>
		<div class="jumbotron">
		<% if current_user.role == 'admin' %>
			<p>
			<%= link_to "All Questions" , questions_path %>|
			<%= link_to "All Users" , users_path %>|
			</p><hr>
		 
		 <center><h3>Add Questions Here</h3></center>
	  	 <center><p><%= link_to "Add Now" , new_question_path, class: 'btn btn-primary btn-lg' %></p></center>
	  	 <% else %>
	  	 <p><%= link_to "My Profile", user_path(current_user) %> </p>
	  	  <center><h3>Are You Ready to Take the Test?</h3></center>
	  	 <center><p><%= render "form" %></p></center>
	  	 <% end %>

	  	 </div>
	  <% end %>

</div>