<div class="container">
	<center>
		<h2><b>Profile for <a><%= current_user.email %></a></b></h2>
	</center>
	<table class="table table-hover table-bordered">
		<tr>
			<td><b> Maximum Score is:</b></td>
			<td><b><%= @max %></b></td>
		</tr>
		<tr>
			<td><b> Average Score is:</b></td>
			<% if @average.nan? ==false %>
				<td><b><%= @average %></b></td>
			<% else %>
			<td><b><%= 0 %></td></b>
			<% end %>

		</tr>
		<tr>
			<td><b> Minimum Score is:</b></td>
			<% if @count != 0 %>
				<td><b><%= @min %></b></td>
			<% else %>
			<td><b><%= 0 %></td></b>
			<% end %>
		</tr>
	</table>
	<center>
		<h5><b>List of tests appeared:</b></h5>
		<h6>[Click on the test to view the submitted response]</h6>
	</center>
	<% num = @tests.length %>
	<% @tests.each do |test| %>
		<%= link_to "Test no: #{num}", response_path(test.id) %>
		<% test.id %><hr>
		<% num -= 1 %>
	<% end %>
</div>