<div class="container">
	<center>
	<h4>Marks scored on this test: <b><%= @response.score %></b> out of <b>50</b></h4><br>
	</center><hr>
	<b>The submitted answers were:<b/><br>
	<h5>Answer to Question no 1:<b><%= @response.response_1%></b></h5>
	<h5>Answer to Question no 2:<b><%= @response.response_2%></b></h5>
	<h5>Answer to Question no 3:<b><%= @response.response_3%></b></h5>
	<h5>Answer to Question no 4:<b><%= @response.response_4%></b></h5>
	<h5>Answer to Question no 5:<b><%= @response.response_5%></b></h5><hr>

	<% question_no = 1 %>
	<% @questions.each do |question| %>
	<h4>
		<b><%= question_no %>)</b>
		<b><%= question.question %></b>
	</h4>

	<h5>a.<%= question.optiona %></h5>
	<h5>b.<%= question.optionb %></h5>
	<h5>c.<%= question.optionc %></h5>
	<h5>d.<%= question.optiond %></h5>
	Correct Answer <b>option:<%= question.answer %></b><hr>

	
	<% question_no+= 1 %>
<% end %>
</div>
