<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<center><h3 class="panel-title">Submit carefully</h3></center>
		</div>
 		<div class="panel-body">
			<% question_no = 1 %>
			<%= form_for @response, url: {action: "create"} do |f| %>
				<% @test.questions.each do |q| %>
					<h4>
						<b><%= question_no %>)</b>
						<b><%= q.question %></b>
					</h4>
					<% response = "response_#{question_no}".to_sym %>
					<%= f.select response, options_for_select([[q.optiona,'a'],[q.optionb,'b'],[q.optionc,'c'],[q.optiond,'d']]) , class: 'form-control' %>
					<hr>
					<% question_no+= 1 %>
				<% end %> 
				<%= f.hidden_field :test_id, value: current_user.id %>
				<%= f.submit "Submit Answers", class: 'btn btn-primary' %>
			<% end %>
		</div>
	</div>
</div>